
.cst{
      
    * { 
        font-family: 'Arial Nova Cond';
        font-size: 14px;
    }

   

    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        border-bottom: 0px;
        border-right: 0px;
        
    }

    ::-webkit-scrollbar-thumb {
        background-color: #76afc633;
    }

    .btnsection {
        text-align: right;
        border-bottom: 1px solid gray;
    }

    button.asset {
        position: relative;
        border: none;
        color: #0E0073;
        background-color: white;
        margin-left: 10px;
    }
        
    input {
        margin: 10px;
        width: 80%;
    }   

    

    .sectionAsset {
        height: 400px;
        overflow-y: scroll;
    }

    table {
      /*   table-layout: fixed;  */
        word-wrap:break-word;
        border-collapse: separate;
       
   
    }

    .table > thead >tr {
            border-radius: 10px;
    }
    

    thead{
        font-size: 12px;
        color:white;
        background: linear-gradient(to left, #949ed4, #5b76c2, #ababb1);
        cursor: pointer;
       
    }
    td{
       
        cursor: pointer;
    }


}

.header {
    display: flex;
    justify-content: space-around;

}

.createuser {
    /* display: flex;   
    justify-content: center;*/
    flex: 1;
    display: flex;
    
    padding: 15px; 
    justify-content: space-between;
    
    label {
        color: #5b76c2;
        display: none;
    }

    input {
        border: none;
        border-bottom: 1px solid black;
        
      &:hover
        {
            border: none;
            border-bottom: 1px solid black;
        }
    }
 
    .react-select-container{
        font-size: 12px;
                
        .react-select__control {
           border: 1px solid #333;
         }
    }

    .leftside {
      display: flex;
      flex-direction:column;
      padding: 20px;
      border-radius: 15px;
      margin: 10px; 
      justify-content: space-between;
     
    }

    .rightside {
        padding: 20px; 
        margin: 20px;
    }

    .footer {
        display: flex;
        align-items: center;
        background-color: white;
    }
}

.squaredOne {
    width: 28px;
    height: 28px;
    position: relative;
    background: #fcfff4; 
    border: 1px solid black;
    label {
      cursor: pointer;
      &:after {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        top: 3px;
        left: 3px;
        background: #003c74;     
        opacity: 0;
      }
      &:hover::after {
        opacity: 0.3;
      }
    }
    input[type=checkbox] {
      visibility: hidden;    
      &:checked + label:after {
        opacity: 1;
      }   
    } 
  }
  /* end .squaredOne */